[submodule "3rd_party/openpi"]
	path = 3rd_party/openpi
	url = git@github.com:openverse-orca/openpi.git
[submodule "3rd_party/lerobot"]
	path = 3rd_party/lerobot
	url = git@github.com:openverse-orca/lerobot.git
[submodule "3rd_party/gym-aloha"]
	path = 3rd_party/gym-aloha
	url = git@github.com:openverse-orca/gym-aloha.git
